body {
	padding: 0;
	margin: 0;
	background-color: #191111;
	overflow: hidden;
}

canvas {
	position: absolute;
	z-index: -1;
	image-rendering: -webkit-optimize-contrast; /* historic fallback */
	image-rendering: crisp-edges; /* standard property */
}
